[Unit]
Description=NATS Stream based federation for Prometheus - Receiver
After=network.target

[Service]
StandardOutput=syslog
StandardError=syslog
User=nobody
Group=nobody
ExecStart={{cpkg_bindir}}/{{cpkg_name}} receiver --config={{cpkg_etcdir}}/prometheus-streams.yaml

[Install]
WantedBy=multi-user.target
